:host {
    display: block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-color:black;
    color: black;
    border: 10px solidblack  black;
    background-color: goldenrod;
  }