<div class="container p-3 my-3" >
    <div class ="card-header bg-dark text-light">
    <h2><i> List of currencies</i></h2>  
</div>
<br>
<div class ="card -header">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" Currency Name">
   
<!--<input class="form-control" type="text" name ="CurrencyName"[(ngModel)] ="Currency" (ngModelChange)="Search()" placeholder="Currency Name">-->
</div>
<br>
<div class ="card text-light">         
    <table id="details" class="table table-light table-hover">
      <thead>
       <tr   class="table-light text-dark">
            <th  *ngFor="let col of columns">
          {{col}}
          </th>  
      </thead>
      <tbody>
       <tr *ngFor="let data of moneys | filter:searchText">
         <td>{{data.CurrencyCode}}</td>
         <td>{{data.CurrencyName}}</td>
         <td>{{data.CountryName}}</td>
         <td>{{data.code}}</td>
        </tr>
      </tbody> 
    </table>
</div> 
  </div>
  
<div class="container my-3 p-3">
    <button type="button" (click)="Book()" class="btn btn-outline-success"> Home</button>
</div>
