<div class="container p-3 my-3" >
    <div class ="card-header bg-warning text-dark">
    <h2><i>Payment History</i></h2>  
</div>
<br>
<div class ="card text-light">         
    <table id="details" class="table table-dark table-hover">
      <thead>
        <tr   class="table-dark text-dark">
            <th  *ngFor="let col of columns">
          {{col}}
          </th>
      </thead>
      <tbody>
        <tr *ngFor="let data of details">
          <td *ngFor="let col of index">{{data[col]}}</td>
        </tr>
      </tbody> 
    </table>
</div> 
  </div>
  <div class="container my-3 p-3">
    <button type="button" (click)="Book()" class="btn btn-outline-success"> fraud</button>
</div>