<div class="container p-3 my-3">
<br>
<div class="card-header bg-dark text-light">
   <i>Fraudulent Details</i>
</div>
<br>
<diV class = "card-body text-drak">

    <table class="table table-hover table-dark">
  <thead>
    <tr  class="table-warning text-dark">
        <th  *ngFor="let col of columns">
            {{col}}
        </th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fakes">
        <td *ngFor="let col of index">{{data[col]}}</td>
    </tr>
  
  </tbody>
</table>
</diV>

</div>
