<div class="container p-3 my-3">
<br>
<div class="card-header bg-dark text-light">
   <i>Fraudulent Details</i>
</div>
<br>
<diV class = "card-body text-drak">

    <table class="table table-hover table-dark">
  <thead>
    <tr  class="table-warning text-dark">
        <th  *ngFor="let col of columns">
            {{col}}
        </th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fakes">
        <td>{{data.BanID}}</td>
        <td>{{data.banned_currencies}}</td>
        <td>{{data.Banned_Country}}</td>
        <td>{{data.amount_limit}}</td>
        <td>{{data.Blocked_banned_accounts}}</td>
        <td>{{data.date_Time}}</td>
    </tr>
  
  </tbody>
</table>
</diV>
<div class="container my-3 p-3">
  <button type="button" (click)="Book()" class="btn btn-outline-success"> Serach</button>
</div>
</div>
